<!DOCTYPE html>
<html>
<head>
  <title>BannerLite</title>
  <%= stylesheet_link_tag    "banner_lite/application", media: "all" %>
  <%= javascript_include_tag "banner_lite/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
